.footer{
    margin-top: 5rem;
    width: 100%;
    padding-bottom: 2rem;
   
    
}
.footer-txt{
text-align: center;
 


}



    
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {}

/* lg */
@media (max-width: 1024px) {}

/* md */
@media (max-width: 768px) {

    .footer{
        margin-top: 2rem;
        width: 100%;
        padding-bottom: 1rem;
       
        
    }
    
}

/* sm */
@media (max-width: 640px) {
   .footer{
        margin-top: 2rem;
        width: 100%;
        padding-bottom: .5rem;
       
        
    }

    .footer-txt{
        text-align: center;
         font-size: .8rem;
        
        
        }
}


/* xs */
@media (max-width: 475px) {

    .footer{
        margin-top: 2rem;
        width: 100%;
        padding-bottom: .5rem;
       
        
    }
    .footer-txt{
        text-align: center;
         font-size: .8rem;
        
        
        }
}