header{
    z-index: 1;
}
/* main navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    height: 100px;
   
}

/* left nav */
.left-nav .logo {
    font-family: "Jersey 15", sans-serif;
    text-transform: uppercase;
    font-size: 4rem;

}
header nav ul li {
    padding: 1rem;
}
header nav ul li:nth-child(1) {
    background-color: #4F4686;


}

header nav ul li:nth-child(1) a {
    color: black;
}

/* .right-nav */

.right-nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;


}

.right-nav ul li a {
    display: inline-block;
    color: #BEBBC9;
    text-decoration: none;
    font-family: "Geo", sans-serif;
    font-size: 1.7rem;

}

.right-nav ul li a:hover {
    color: #68647D;
    transform: scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease;
}




#check {
    display: none;
}

#toggle {

   display: none;
}

#toggle img{

    border-radius: 3px;
   
    width:2rem;
}

@media (max-width: 1024px) {

    .left-nav .logo {
        font-size: 3rem;
    }

    .right-nav ul {
        gap: 2.4rem;
    }

    .right-nav ul li a {
        font-size: 1.3rem;
    }

}

@media (max-width: 768px) {

    header{
        position: sticky;
        top: 0;
        background-color: #131217;
    }
    
    #check:checked~ul {
        right: 0%;
    }

    #check:checked~ul li {
        border-bottom: 1px solid #190f0f;
        width: 100%;
    }

    #toggle {
        display: block;
        margin-right: 20px;
    }
    .right-nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-nav .logo {
        font-size: 2.5rem;
    }

    .right-nav ul {
        gap: 2rem;
        padding-top: 2rem;

    }

    nav ul {
        display: flex;
        flex-direction: column;
        top: 80px;
        width: 30%;
        height: 100vh;
        background-color: #8B939C;
        position: fixed;
        right: -100%;
        z-index: 1000;
        transition: 0.5s;
    }

    .right-nav ul li a {
        color: #131416;
        padding: 0 1rem;
        font-size: 1rem;
    }

    .right-nav ul li a:active {
        color: #2F3237;
    }
}